<html>
    <head>
        <title>Weather App | About</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" href="/web-server/public/assets/weather.png"/>
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <img src="/assets/jill.png" alt="Jill" class="profilePic"/>
        </div>
        {{>footer}}
    </body>
</html>