<html>
    <head>
        <title>Weather App | Help</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" href="/web-server/public/assets/weather.png"/>
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>  